---
layout: default
---
<div class="post">
    {% if page.type == "category" %}
    <h1>Group/Demo: {{ page.title }}</h1>
    {% elsif page.type == "tag" %}
    <h1>Effect: {{ page.title }}</h1>
    {% elsif page.type == "year" %}
    <h1>Year: {{ page.date | date: "%Y" }}</h1>
    {% elsif page.type == "month" %}
    <h1>Month: {{ page.date | date: "%Y %b" }}</h1>
    {% else %}
    <h1>{{ page.type }} '{{ page.title }}'</h1>
    {% endif %}

    {% for post in page.posts %}

    {% for i in (1..post.categories.size) %}
    {% assign index = i | minus: 1 %}
    {% assign category_slug = post.categories[index] | slugify: "raw" %}
    <a class="tag-link" href={{ "/category/" | append: category_slug | append: "/" | relative_url }}
      rel="tag">
      {{ post.categories[index] }}
    </a>
    /
    {% endfor %}
    
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    {% assign link = "https://csdb.dk/release/?id=" | append: post.csdb %}
    (<a class="tag-link" href={{ link }}>{{ post.date | date_to_string }}</a>)<br>
    {{ post.excerpt }}

    {% for coder in post.coders %}
    <a class="tag-link" href={{ "https://csdb.dk/scener/?id=" | append: coder.csdb }}>{{ coder.name }}</a>
    {% endfor %}

    {% if post.record %}{{ post.record }}{% endif %}
    {% if post.size %}{{ post.size }} pixels{% endif %}
    {% if post.fps %}{{ post.fps }} fps{% endif %}

    {% for tag in post.tags %}
    {% assign tag_slug = tag | slugify: "raw" %}
    <a class="tag-link" href={{ "/effect/" | append: tag_slug | append: "/" | relative_url }} rel="tag">
        #{{ tag }}
    </a>
    {% endfor %}

    <div style="clear: both;"></div>
    {% endfor %}
</div>
